/* Categories list */

html, body {
    background-color: #BFBFBF;
    width: 100%;
    height: 100%;
}

.card-custom {
    background-color: #47555E;
}

.btn-back {
    background-color: #96939B;
}

.btn-back:hover {
    background-color: #fc814a;
}

.fa-brands {
    color: black;
}