/* Contact */

html, body {
    margin: 0;
    background-image: url("../assets/images/contact-bg.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.address, .contact-form {
    background-color: #BFBFBF;
    padding: 1rem;
    border: 1px solid #FFFFFF;
}

.address {
    display: flex;
    justify-content: center;
    line-height: 40px;
}

.map {
    width: 600px;
}


/* *********************************************
               Media queries
********************************************** */

/* mobile phones */

@media screen and (min-device-width: 280px) and (max-device-width: 767px) {

    html, body {
        background-image: none;
        background-color: #96939B;
    }

}