/*
#E8E8E8; gris clair
#BFBFBF; gris
#96939B; gris moyen
#47555E; gris foncé logo
#FC814A; orange
*/

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

h2{
    font-size: 1.5rem;
}

h3 {
    font-size: 2rem;
}

body {
    /*font-family: 'Hind Guntur', sans-serif;*/
    /*font-family: 'Overpass', sans-serif;*/
    /*font-family: 'Questrial', sans-serif;*/
    /* font-family: 'Raleway Dots', cursive;*/
    font-family: 'Hind Guntur', sans-serif;
    width: 100%;
    height: 100%;
}


.home {
    background-image: url("../assets/images/home-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 70vh;
}

.title-frame {
    background-color: #FC814A;
    opacity: 0.8;

}
.home-title {
    font-size: 30px;
    color: white;
    /*font-family: 'Raleway Dots', cursive;*/
}


.subtitle-frame {
    background-color: #BFBFBF;
    color: white;
}

.btn-custom {
    background-color: #FC814A;
    color: white;
}

.btn-custom:hover {
    background-color: #96939B;
    opacity: 0.8;
    color: white;
}

.services {
    background-image: url("../assets/images/home-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 70vh;
}

.contact {
    background-image: url("../assets/images/home-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 70vh;
}

.address, .contact-form {
    background-color: #E8E8E8;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
}

.address {
    display: flex;
    justify-content: center;
    line-height: 40px;
}

.login {
    background-image: url("../assets/images/home-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 70vh;
}
.login-form {
    background-color: #E8E8E8;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
}

.map {
    width: 600px;
}