/*
#E8E8E8; gris clair
#BFBFBF; gris
#96939B; gris moyen
#47555E; gris foncé logo
#FC814A; orange
https://coolors.co/palette/000000-ffffff-47555e-f4b942-bf4e30
*/

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Hind Guntur', sans-serif;
    font-size: 18px;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

h3, h4 {
    font-size: 1rem;
    font-weight: bolder;
}

/*a.active {*/
/*    background-color : #FC814A;*/
/*    border-radius: 5px;*/
/*}*/

.nav-link {
    font-size: 22px;
}

.nav-link:hover {
    color: #fc814a!important;
}

.btn-outline-custom {
    background-color: #E8E8E8;
    border:1px solid #fc814a;
}

.btn-outline-custom:hover {
    background-color: #47555E;
}

.card {
    background-color: #47555E;
}

.title-frame {
    background-color: #E8E8E8;
    opacity: 0.9;
    border: 1px solid #FFFFFF;
}

.btn-custom {
    background-color: #FC814A;
    color: white;
}

.btn-custom:hover {
    background-color: #96939B;
    opacity: 0.8;
    color: white;
}

.btn-client {
    background-color: #47555E;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.btn-back {
    background-color: #96939B;
    color: #FFFFFF;
}

.btn-back:hover {
    background-color: #fc814a;
    opacity: 0.8;
    color: white;
}

.fa-brands {
    color: #FFFFFF;
}


/* *********************************************
               Media queries
********************************************** */

/* mobile phones */

@media screen and (min-device-width: 280px) and (max-device-width: 767px) {

    h1 {
        font-size: 30px;
    }
}